<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>

  <h1>Your Daily Meal Plan</h1>
  <h3><a href="/days/new">Add a Day</a></h3>
  
  <section class="card">
    <% profile.plan.forEach(day => { %>
      <div id="card-container" class="card" style="width: 18rem;">
        <div class="card-body">
          <% if (profile._id.equals(user?.profile._id)) { %>
            <form action="/days/<%= day._id %>?_method=DELETE" method="post">
              <button type="submit" class="delete-btn">X</button>
            </form>
            <% } %>
            <h5 class="card-title"><%= day.date.toDateString() %> </h5>
            <h6 class="card-subtitle mb-2 text-muted">Breakfast:</h6>
            <p class="card-text"><%= day.breakfast.name %></p>
            <h6 class="card-subtitle mb-2 text-muted">Lunch:</h6>
            <p class="card-text"><%= day.lunch.name %></p>
            <h6 class="card-subtitle mb-2 text-muted">Dinner:</h6>
            <p class="card-text"><%= day.dinner.name %></p>
            <h6 class="card-subtitle mb-2 text-muted">Snack:</h6>
            <p class="card-text"><%= day.snack.name %></p>
        </div>
        <% if (profile._id.equals(user?.profile._id)) { %>
          <a href="/days/<%= day._id %>/edit" class="card-link btn">
            <button class="btn">Edit this Plan</button>
          </a>
        <% } %>
      </div>
    <% }) %>
</main>

<%- include('../partials/footer') %>