<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<script>
  document.addEventListener('mousemove', (event) => {
    const mouseX = event.clientX
    const mouseY = event.clientY
    const picture = document.getElementById('picture')
    const rect = picture.getBoundingClientRect()
    const pictureX = rect.left + rect.width / 2
    const pictureY = rect.top + rect.height / 2

    const angleDeg = angle(mouseX, mouseY, pictureX, pictureY)

    const eyes = document.querySelectorAll('.eyes')
    eyes.forEach(eye => {
      eye.style.transform = `rotate(${90 + angleDeg}deg)`
    })
  })

  function angle(cx,cy,ex,ey) {
    const dy = ey - cy
    const dx = ex - cx
    const rad = Math.atan2(dy, dx)
    const deg = rad * 180 / Math.PI
    return deg
  }
</script>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>

  <section class="panda">
    <img id="picture" src="/img/wide_eye_panda_with_weights.jpg" alt="Panda holding weights">
    <div id="eyes">
      <img class="eyes" src="/img/panda_eye.png" alt="panda eye" style="top:-794px; right:-461px;">
      <img class="eyes" src="/img/panda_eye.png" alt="panda eye" style="top:-789px; right:-703px;">
    </div>
  </section>
</main>

<%- include('./partials/footer') %>
