<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<%- include('../partials/nav') %>

<main>

  <h1>All Meals</h1>
  
  <h2>Added by our wonderful members!</h2>
  <div class="card-container">
    <% meals.forEach(meal => { %>
      <div id="card-food-container" class="card" style="width: 18rem;">
        <div class="card-body" style="background-color: white;">
          <% if (meal.creator.equals(user?.profile._id)) { %>
            <form class="card-title-food" action="/meals/<%= meal._id %>?_method=DELETE" method="post" >
              <button type="submit" class="delete-btn">X</button>
            </form>
            <% } %>
            <h5 class="card-title-food"><%= meal.name %> </h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= meal.mealType %> </h6>
            <p class="card-text"><%= meal.description %></p>
            <p class="card-subtitle mb-2 text-muted">By: <%= meal.creator.name %></p>
          <% if (meal.creator.equals(user?.profile._id)) { %>
            <a href="/meals/<%= meal._id %>/edit" class="card-link btn">
              <button class="btn">Edit this Meal</button>
            </a>
          <% } %>
        </div>
      </div>
    <% }) %>

    </div>

</main>

<%- include('../partials/footer') %>
